## Imprting Liberaries & Loading Dataset

In [6]:
import pandas as pd
import numpy as np

In [7]:
messy = r'C:\Users\DELL\Desktop\student_scores_messy.csv'
df = pd.read_csv(messy)

In [8]:
df.head()

    Name   Age  Score Gender
0  Nikunj   25   85.0      F
1   Rohan   30   90.0      M
2  shinjo  NaN   95.0      M
3    Nami   30   90.0      m
4   Kinau   25   85.0      f

## Cleaning Columns Name For better Look

In [9]:
df.columns = df.columns.str.strip().str.lower()

In [11]:
print(df.columns)

Index(['name', 'age', 'score', 'gender'], dtype='object')

##  Handling  Whitespaces and Capitalization

In [12]:
df['name'] = df['name'].str.strip().str.title()
df['gender'] = df['gender'].str.strip().str.capitalize()

## Fixing  Gender Values

In [13]:
df['gender'] = df['gender'].replace({
    'F': 'Female',
    'M': 'Male',
    'female': 'Female',
    'male': 'Male'
})

## Converting  Age and Score to Numeric values

In [14]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['score'] = pd.to_numeric(df['score'], errors='coerce')

## Handling Missing Values

In [15]:
df.dropna(inplace = True)

## Calculating Grades

In [17]:
def get_grade(score):
    if score >= 85:
        return 'A'
    elif score >= 70:
        return 'B'
    elif score >= 50:
        return 'C'
    else:
        return 'D'

df['grade'] = df['score'].apply(get_grade)

 ## Insights

In [18]:
# Top  to bottom 
top_scorers = df.sort_values(by='score', ascending=False).head(5)

# Average of student
gender_avg = df.groupby('gender')['score'].mean()

## Export Cleaned Data

In [19]:
df.to_csv("cleaned_data.csv", index=False)